* {
    background-color: #fdb44b;
    font-size: 20px;
    color: #eee;
}

a {
    text-decoration: none;
}

.home-img {
    border-radius: 10px;
}

.main-div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.talk {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.contact-icons {
    display: flex;
    flex-direction: column;
}

.contact-icons div {
    margin-bottom: 2.5%;
}

.contact-icon {
    display: flex;
    align-items: center;
}

.email-address {
    margin-left: 1%;
}

.little-words {
    color: #240747;
    font-size: 18px;
}

.main-name {
    color: #cd4545;
    font-weight: bold;
}

/* about section */
.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

h2, .school-title {
    color: #240748;
}

.about {
    width: 42%;
}

.about h2::after {
    content: '';
    width: 100px;
    height: 10px;
    color: black;
    border-bottom: 5px solid #cd4545;
    display: block;
}

.technologies h2::after {
    content: '';
    width: 370px;
    height: 10px;
    color: black;
    border-bottom: 5px solid #cd4545;
    display: block;
}

.technologies {
    width: 32%;
}

.technologies-icons {
    display: flex;
    flex-wrap: wrap;
}

/* projects section */
.projects-section h2::after
, .experience .experience-keyword::after
, .education-section h2::after
, .certificates-section h2::after {
    content: '';
    width: 80px;
    height: 10px;
    color: black;
    border-bottom: 5px solid #cd4545;
    display: block;
}

.projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 83%;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.backend-projects, .frontend-projects {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.backend-projects .title, .frontend-projects .title {
    color: #cd4545;
    font-weight: 600;
}

.backend-items, .frontend-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.item {
    height: auto;
    padding: 1%;
    text-align: start;
    border-radius: 10px;
    border: 2px solid #cd4545;
    
    background-color: #ffcc6d;
}

.backend-items .item {
    width: 30%;
}

.item .clicks a, .item a {
    background-color: #ffcc6d;
    border-radius: 2px;
    border: 1px solid #cd4545;
    padding: 3px;
    color: #111e63;
}

.item a {
    border: none;
}

.item .clicks a:hover,  .item a:hover {
    background-color: #cd4545;
    color: #ffcc6d;
}

.item .clicks {
    display: flex;
    flex-direction: row;
    gap: 2%;
}

.item h3, .item div {
    font-size: 18px;
    background-color: inherit;
    color: #240748;
}

.item p, .item div a {
    font-size: 17px;
    background-color: inherit;
    color: #066941;
}

.padd-5 {
    padding: 0 5px;
}


/* experience section */
.experience {
    width: 83%;
}

.experience .experience-keyword::after {
    width: 105px;
}

.experience-section, .education-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.experience-section .experience-item
, .education-items .education-item {
    background-color: #ffcc6d;
    border: 2px solid #cd4545;
    border-radius: 10px;
    width: 31%;
    
}

.experience-section .experience-item:hover
, .education-items .education-item:hover
, .backend-items .item:hover
, .frontend-items .item:hover {
    border-color: #006eff;
}

.experience-section .experience-item *
, .education-items .education-item * {
    margin: 0.8%;
    background-color: inherit;
}

.experience-section .experience-item h2
, .experience-section .experience-item p
, .education-items .education-item p
, .education-items .education-item h2 {
    margin-left: 1.5%;
}

.job-date, .job-location, .school-date, .school-location {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.job-description, .school-description {
    color:#066941;
    font-size: 17px;
}

.job-date span, .job-location span
, .school-date span, .school-location span {
    font-size: 15px;
}

.job-date span, .school-date span {
    color: black;
}

.job-location span, .school-location span {
    color: #240747;
}

/* education section */
.education-section {
    width: 83%;
}
.education-section h2::after {
    width: 98px;
}

.education-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.school-description {
    color: #933600;
} 

/* certificates-section */
.certificates-section h2::after {
    width: 108px;
}

.certificates-section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 83%;
}

.certificate-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    gap: 0.5%;
}

.certificate-item {
    width: 30%;
}

.certificate-item img {
    width: 280px;
    height: 216px;
}

.certificate-item:hover > img {
    border: 1px solid #006eff;
    box-sizing: border-box;
}

.certificate-item:hover > .certificate-info a {
    color: #006eff;
}

.certificate-info {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

/* books section */
.books-section {
    width: 98%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
}

.books-section h2::after {
    width: 63px;
}

.books-items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.books-items img {
    width: 32%;
}


/* media queries */
@media (max-width: 1060px) {
    .technologies h2::after {
        width: 260px;
    }

    .about {
        width: 48%;
    }

    .certificate-item {
        width: 48%;
    }

    .certificate-item img {
        width: 350px;
        height: 271px;
    }
}

@media (max-width: 975px) {
    .technologies {
        width: 35%;
    }

    .projects-section, .experience, .education-section {
        width: 88%;
    }

    .certificate-item img {
        width: 350px;
        height: 271px;
    }
}

@media (max-width: 890px) {
    .technologies h2::after {
        width: 370px;
    }
    .about-section {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .about, .projects-section, .technologies {
        width: 90%;
    }
    .backend-items .item, .experience-section .experience-item
    , .education-section .education-items .education-item {
        width: 45%;
        margin: 1%;
    }

    .certificate-item img {
        width: 300px;
        height: 247px;
    }
}

@media (max-width: 800px) {
    .about, .technologies, .certificates-section, .books-section {
        width: 93%;
    }

    .certificate-item img {
        width: 250px;
        height: 193px;
    }
}

@media (max-width: 700px) {
    .home-section {
        justify-content: center;
    }
    .talk {
        width: 85%;
    }
    .contact-icon {
        font-size: 12px;
    }

    .projects-section, .experience, .education-section {
        width: 92%;
    }
    .backend-items .item, .experience-section .experience-item
    , .education-section .education-items .education-item {
        width: 100%;
        margin: 1% 0;
    }
    .backend-items, .frontend-items {
        justify-content: center;
    }

    .books-section {
        width: 100%;
    }
    .books-items img {
        width: 45%;
        margin-bottom: 3%;
    }
}

@media (max-width: 550px) {
    .certificate-item {
        width: 80%;
    }
    .certificate-item img {
        width: 380px;
        height: 294px;
    }
}

@media (max-width: 500px) {
    .technologies {
        width: 95%;
    }
    .about {
        width: 90%;
    }

    .education-section .experience {
        width: 99%;
    }

    .certificate-item img {
        width: 355px;
        height: 275px;
    }

    .books-section, .books-items img {
        width: 100%;
    }
}


@media (max-width: 409px) {
    .technologies h2::after {
        width: 260px;
    }

    .job-title, .school-title {
        font-size: 19px;
    }

    .certificate-item img {
        width: 310px;
        height: 240px;
    }
}
